@font-face{
	font-family: arkhip_font;
	font-display: swap;
	src: url("../fonts/arkhip_font.woff2") format("woff2"), url("../fonts/arkhip_font.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
